<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scu.db.demo.mapper.BookMapper">
    <resultMap id="book_resultmap" type="org.scu.db.demo.model.Book">
        <id property="bookId" column="book_id"/>
        <result property="edition" column="edition"/>
        <result property="borrowduedate" column="borrowduedate"/>
        <result property="borrowermemno" column="borrowermemno"/>
        <result property="callnumber" column="callnumber"/>
    </resultMap>

    <resultMap id="title_resultmap" type="org.scu.db.demo.model.Title">
        <id property="callnumber" column="callnumber"/>
        <result property="name" column="name"/>
        <result property="isbn" column="isbn"/>
        <result property="year" column="year"/>
        <result property="publisher" column="publisher"/>
    </resultMap>


    <select id="queryBook" resultMap="book_resultmap">
        select * from book;
    </select>
<!--    例子：查询每一图书的callnumber号和本数-->
    <select id="query_call_and_count" resultType="map">
        select callnumber, count(*) as call_num from book group by callnumber;
    </select>

    <select id="findAllBorrowedBooksId" resultType="integer">
        select book_id
        from book
        where borrowermemno is not null;
    </select>

    <select id="findIliadOrOdysseyTitle" resultMap="title_resultmap">
        select *
        from title
        where name in ('Iliad', 'Odyssey');
    </select>

    <select id="countCall123Book" resultType="integer">
        select count(*)
        from book
        where callnumber='Call123';
    </select>

    <select id="findCountNotExceed2Callnumber" resultType="string">
        select callnumber
        from book
        group by callnumber
        having count(*) &lt; 3;
    </select>

</mapper>



